<H3> {{name}}</H3>
<h2> Who are we</h2>
<p>
    The Birla Institute of Technology & Science, BITS Pilani is an all-India Institute for higher education. The primary motive of BITS is to "train young men and women able and eager to 
    create and put into action such ideas, methods, techniques and information". The Institute is a dream come true of its founder late Mr G.D.Birla - an eminent industrialist, a participant in 
    Indian freedom struggle and a close associate of the Father of Indian Nation late Mr. Mohandas Karamchand Gandhi (Mahatma Gandhi). What started in early 1900s as a small school, 
    blossomed into a set of colleges for higher education, ranging from the Humanities to Engineering until 1964 when all these colleges amalgamated to culminate into a unique Indian 
    University of International standing. This university was christened as the Birla Institute of Technology and Science, Pilani, known to many as BITS, Pilani.Over the years, BITS has 
    provided the highest quality technical education to students from all over India admitted on the basis of merit. Its graduates may be found throughout the world in all areas of engineering, 
    science and commerce. BITS symbolizes the maturing of Indian technical ability and "can-do" entrepreneurial spirit, especially as derived from the private sector. BITS is located in the 
    Vidya Vihar campus adjacent to the town of Pilani in Rajasthan.
</p>

<h4><b>Our Mission</b></h4>

<p>BITS mission is to advance knowledge and educate students in science, technology, and other areas of scholarship that will best serve the nation and the world in the 21st century.The 
    Institute is committed to generating, disseminating, and preserving knowledge, and to working with others to bring this knowledge to bear on the world's great challenges. BITS is dedicated 
    to providing its students with an education that combines rigorous academic study and the excitement of discovery with the support and intellectual stimulation of a diverse campus community. 
    We seek to develop in each member of the BITS community the ability and passion to work wisely, creatively, and effectively for the betterment of humankind.</p>

<h4><em>Our Vision</em></h4>

<p>Our commitment to transparency and stress on equal opportunity has been a key contributing factor behind our emergence as an institute of national repute, our rigorous intake process 
    rewards only merit and ensures that only truly motivated students join us. Our curriculum is continuously being innovated and refreshed to reflect the latest developments in technology and 
    trends within industry. Pure academics are supplemented by pervasive industry engagement and every student is exposed to practical applications of classroom knowledge under a structured 
    semester-long engagement programme. </p>

<h4>Our Values</h4>
<p>The pursuit of excellence requires a transparent and honest approach. At BITS Pilani, we have always believed this to be true and are one of the few top institutes in India to favour a ‘Merit Only’ 
    based admission policy.To ensure complete transparency in student intake in the undergraduate courses we have instituted BITSAT, a fully online exam. BITSAT tests students on their aptitude for Mathematics, 
    Physics and Chemistry. BITSAT also has a section on English and Logical reasoning, thus becoming a complete analysis of a candidate’s intelligence and capability.</p>
<!-- String interpolation throws an error.declaring objects with string interpolation doesn't work
    <p> Current Date is {{new Date()}}</p> 
    <p> Current Date is {{convertDate()}}</p>-->

<!--
 Angular generates a warning for the following line as it sanitizes them
 WARNING: sanitizing HTML stripped some content (see https://g.co/ng/security#xss).
-->

<hr>
<button (click)="updateName()" style="margin:5px;"> Update</button>
<!--<button [disabled]='isDisabled' style="margin:5px;">Home</button>-->